<h1 align="center"><font face="Times New Roman"><b>All articles</b></font></h1>
<div align="center">
    <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
    <%= will_paginate %>
</div>