<img src="assets/Photo.jpg" alt="Rohit's picture" style="width:225px;height:350px;float:right; padding-top:50px;">
<h1><font face="Times New Roman"><b> About Me. </b></font></h1><br>
<p> My name is Rohit Nair.<br>I am a Computer Science Graduate Student at North Carolina State University, Raleigh, NC, USA.</p>
<p> I have a never ending interest in Software Development and recently, in the field of DevOps. Automating stuff gives you superhero strengths!!</p>
<p>The pleasure of making things that are useful to other people is something that drives me. One of most satisfying aspects of being a programmer is seeing code you wrote deployed in a live system and used by actual people, especially if it improves their lives in some way.</p><br><br><br>